.ChatScreen {
  background: black;
  border-radius: 18px;
  width: 270px;
  margin: 30px auto;
  padding: 25px;
}

.ChatHeader {
  text-align: center;
  height: 20px;
  color: white;
  padding-bottom: 15px;
}

#Recipient {
  font-weight: bold;
  margin: 0;
}

.ChatForm {
  margin-top: 20px;
  display:flex;
  align-items: flex-start;
}

.ChatForm textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background: white;
  height: 30px;
  width: 230px;
  border: 1.8px solid white;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  resize: none;
  padding-left: 5px;
  padding-top: 7px;
  box-sizing: border-box;
  outline: none;
}

.ChatForm button {
  background-color: white;
  height: 30px;
  width: 40px;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  padding-top: 1.5px;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 1px;
}
