.server + .server {
  margin-top: 4px;
}

.user + .user {
  margin-top: 4px;
}

.server {
  margin-left:0px;
  width:max-content;
  max-width:200px;
  padding:7px;
  color:white;
  background: gray ;
  border-radius:15px;
  margin-top: 12px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}

.user {
  margin-right:0px;
  width:max-content;
  max-width:200px;
  padding:7px;
  color:white;
  background: #1aa3ff;
  border-radius:15px;
  margin-top: 12px;
  margin-left: auto;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}
